.job__listing {
  margin: 0 calc(9vw + 100px);
}
@media (max-width: 1050px) {
  .job__listing {
    margin: 0 4vw;
  }
}
.job__listing__header {
  display: flex;
  min-height: 120px;
  padding: 15px 0;
  border-radius: 5px;
  transform: translateY(-30px);
  background-color: #fff;
  overflow: hidden;
}
.job__listing__header .header__image__container {
  display: flex;
  align-items: center;
  width: 150px;
}
.job__listing__header .header__image__container img {
  max-width: 100%;
}
.job__listing__header .header__image__container .no-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(219, 29%, 14%);
  width: 100%;
  position: relative;
  height: calc(100% + 30px);
}
.job__listing__header .header__textbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  padding: 0 50px;
}
.job__listing__header .header__textbox__heading {
  margin-bottom: 8px;
}
.job__listing__header .header__textbox__company-redirect {
  text-align: center;
  margin-left: 50px;
  white-space: nowrap;
}
.job__listing__header .header__textbox__company-redirect small {
  display: none;
  color: rgba(255, 0, 0, 0.75);
  margin-top: 5px;
}
.job__listing__header .header__textbox__company-redirect.invalid a {
  border: 1px solid rgba(255, 0, 0, 0.4);
  background-color: rgba(255, 0, 0, 0.1);
  color: rgba(255, 0, 0, 0.6);
  pointer-events: none;
}
.job__listing__header .header__textbox__company-redirect.invalid small {
  display: inline-block;
}
.job__listing__header .header__textbox .btn {
  display: flex;
  margin-left: auto;
  text-decoration: none;
  align-items: center;
  height: 55px;
  padding: 0 25px;
  background-color: rgba(148, 156, 244, 0.25);
  color: var(--company-site-btn);
}
.job__listing__header .header__textbox .btn:hover {
  border-color: var(--company-site-btn);
}
.job__listing__body {
  background-color: #fff;
  padding: 35px;
  word-wrap: break-word;
}
.job__listing__body .body__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.job__listing__body .body__heading__title {
  margin: 8px 50px 8px 0px;
}
.job__listing__body .body__heading__location {
  color: var(--violet);
}
.job__listing__body .body__heading .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.job__listing__body .body__main {
  line-height: 1.4;
}
.job__listing__body .body__main h1,
.job__listing__body .body__main h2,
.job__listing__body .body__main h3 {
  margin: 20px 0 5px;
}
.job__listing__body .body__main p > strong {
  display: inline-flex;
  margin-top: 30px;
}
.job__listing__body .body__main ul,
.job__listing__body .body__main ol {
  margin: 15px 0;
  list-style: none;
}
.job__listing__body .body__main ul li,
.job__listing__body .body__main ol li {
  position: relative;
  margin: 0 50px 10px calc(50px + 1em);
}
.job__listing__body .body__main ul li:last-of-type,
.job__listing__body .body__main ol li:last-of-type {
  margin-bottom: 0;
}
.job__listing__body .body__main ul li::before,
.job__listing__body .body__main ol li::before {
  display: inline-block;
  position: absolute;
  content: '\2022';
  color: var(--violet);
  width: 1em;
  margin-left: -1em;
}
.job__listing__cta {
  position: relative;
  overflow-wrap: break-word;
  color: var(--white);
  margin: 20px 0 60px;
  padding: 35px;
  border-radius: 5px;
}
.job__listing__cta::before {
  content: '';
  position: absolute;
  background-image: url('../../images/desktop/bg-pattern-detail-footer.svg');
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}
.job__listing__cta .cta__body ul {
  margin: 20px 0 20px 20px;
}
.job__listing__cta .cta__body ul li {
  margin-bottom: 8px;
}
.job__listing__cta .cta__body ul li:last-of-type {
  margin-bottom: 0;
}
.job__listing__cta h1, h2, h3, h4, p > strong, a {
  color: var(--white);
}
.job__listing__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 35px 20px;
  background-color: #fff;
}
.job__listing__footer .footer__textbox__position {
  margin-bottom: 10px;
}
.job__listing__footer .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
@media (max-width: 720px) {
  .job__listing__header {
    flex-direction: column;
    text-align: center;
    overflow: visible;
  }
  .job__listing__header .header__textbox {
    flex-direction: column;
  }
  .job__listing__header .header__textbox__company-redirect {
    margin: 15px 0 0 0;
  }
  .job__listing__header .header__image__container {
    margin: -55px auto 20px;
    border-radius: 5px;
    overflow: hidden;
    height: 80px;
    width: 80px;
    background-color: #fff;
  }
}
@media (max-width: 600px) {
  .job__listing__body .body__heading {
    flex-direction: column;
    align-items: flex-start;
  }
  .job__listing__body .body__heading .btn {
    width: 100%;
    margin-top: 30px;
    justify-content: center;
  }
  .job__listing__body .body__main ul li, .body ol li {
    margin: 0 15px 10px calc(15px + 1em);
  }
  .job__listing__footer {
    position: relative;
    left: -4vw;
    width: calc(100% + 8vw);
  }
  .job__listing__footer .footer__textbox {
    display: none;
  }
  .job__listing__footer .btn {
    width: 100%;
  }
}
