.header {
  display: flex;
  position: relative;
  align-items: center;
  min-height: 140px;
}
.header__backgrounds {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 140px;
}
.header__backgrounds img {
  max-width: 100%;
  width: 100%;
  border-bottom-left-radius: 80px;
}
.header__backgrounds .background__mobile {
  display: none;
}
.header__logo {
  color: #fff;
  font-size: 30px
}
.header__inner {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 100%;
  padding: 0 9vw;
}
.header__inner .header__toggle {
  display: flex;
  align-items: center;
}
.header__inner .header__toggle button {
  position: relative;
  margin: 0 15px;
  height: 20px;
  width: 40px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}
.header__inner .header__toggle button .slider {
  position: absolute;
  height: 14px;
  width: 14px;
  top: 3px;
  left: 4px;
  border: 0;
  border-radius: 50%;
  background-color: hsl(235, 60%, 61%);
  transition: 0.2s;
}
.header__inner .header__toggle button.active .slider {
  transform: translateX(calc(100% + 4px));
}
@media (max-width: 720px) {
  .header__backgrounds .background__desktop {
    display: none;
 }
  .header__backgrounds .background__mobile {
    display: block;
 }
}
@media (max-width: 600px) {
  .header {
    min-height: 200px;
 }
  .header__backgrounds {
    min-height: 200px;
 }
  .header.blur {
    filter: blur(2px);
    pointer-events: none;
    position: relative;
    top: -2px;
    right: -2px;
 }
}